body {
	margin: 0;
	font-family: sans-serif;
}

* {
	box-sizing: border-box;
}

.rating-box .rating .fa
	 {
		font-size: 20px;
		color: #FF9800;
		background-color: none;
		float: left;
		cursor: pointer;
	}
