@using CM.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section Styles {
    <link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

    <link href="~/css/Ingredients/IngredientsTable.css" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "List Of Ingredients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="d-flex justify-content-center">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createIngredientModal">
        Launch demo modal
    </button>
    <!-- Modal -->
    <div class="modal fade" id="createIngredientModal" tabindex="-1" role="dialog" aria-labelledby="createIngredientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createIngredientModalLabel">Provide ingredient details:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="ingrForm" asp-action="Create" asp-controller="Home" asp-area="Ingredients" method="post">
                        <input type="text" name="Name" value="Placeholder" />
                        <input type="text" name="ImagePath" value="Img Upload" class="form-control-file" />
                    </form>
                    <a asp-action="Create" asp-controller="Home" asp-area="Ingredients">content</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" form="ingrForm" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>



<table id="ingredientsTable" class="display">
    <!--hover order-column stripe-->
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>

@section Scripts {

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/js/IngredientScripts/IngredientsDataTable.js"></script>
}